/*
Developer: Vaasudevan Srinivasan
Created on: Jun 25, 2020
Last Modified on: Jun 25, 2020
Description: Script with useful CSS styles
*/


body {
	background-color: #F5F5F5;
}


#leftside {
	float: left;
}

#content {
	float: right;
	padding-right: 370px;
}

#map {
	width: 550px;
	height: 330px;
}

#featuretable {
	width: 550px;
	height: 250px;
}

